body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f7f4e9;
    color: #333;
}

header {
    background-color: #f9a825;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 10px;
    display: flex;
   
}
header .hed img{
    height: 100px;
    width: 100px; 
    border-radius: 50px;
}

header .heat h1 {
    margin:0%;
    text-align: center;
    padding-left: 250px;
}

.main {
    padding: 2rem;
}

 .info{
    margin-bottom: 2rem;
}
.homebar ul {
    display: flex;
    flex-direction: row;
    background-color: #333;
    gap: 100px;
}
.homebar ul li:hover{
    color: blue;
    cursor: pointer;;
}
.homebar ul li{
    text-align: center;
    color: white;
    padding: 20px;
    
}
.bodylist img{
    padding-right: 100px;
    width: 100%;
}

 h2 {
    color: #f57f17;
    margin-bottom: 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 0.5rem 0;
}

ul li a {
    text-decoration: none;
    color: #1e88e5;
}

ul li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    font-family: bold;
    font-size: 20px;
    background-color: #333;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 10px;
    
   
}
.social{
    padding-left:585px ;
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}
footer .social .temp img{
    height: 45px;
    width: 45px; 
    border-radius: 50px;
   
    
    
}

.poli{
    text-align: justify;
}
.list{
    display: flex;
    flex-direction: row;
}
.list ul{
    padding-left: 250px;
}
.list img{
    height: 394px;
    width: 816px;
}
.list{
    background-color: rgb(160, 179, 167);
}

.rupee{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}